<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Create a new list</h1>
                <form method='post'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type='Create' value=submit>
                </form>
            </div>
        </main>
    </body>
</html>
